<app-navbar (messageEvent)="receiveSearch($event)"></app-navbar>
<div id="top-container">
  <ul id="cat">
    <li #men value="men's clothing" (click)="onCategoryChange(men.getAttribute('value'))">Men's Fashion</li>
    <li #women value="women's clothing" (click)="onCategoryChange(women.getAttribute('value'))">Woman's Fashion</li>
    <li #elec value="electronics" (click)="onCategoryChange(elec.getAttribute('value'))">Electronics</li>
    <li #jewl value="jewelery" (click)="onCategoryChange(jewl.getAttribute('value'))">Jewelery</li>
    <li #all value="all" (click)="onCategoryChange(all.getAttribute('value'))">See All</li>
  </ul>
  <img src="Frame 560.png">
</div>

@if (category != empty) {
  <div id="desc">
    <div id="cat-rectangle">
    </div>
    <div id="cat-desc">{{category}}</div>
  </div>
}


<div id="products">
  @for (product of filtered_products; track trackByFn) {
    <ul class="product">
      <li class="item" (click)="goToProductDetails(product.id)">
        <img src={{product.image}} class="img" alt={{product.title}}>
        <p>{{product.title}}</p>
        <!-- <p>ID: {{product.id}}</p> -->
        <p style="color: #DB4444;">${{product.price}}</p>
        <!-- <p>Description: {{product.description}}</p> -->
      </li>
    </ul>
  }
    
</div>
