.img{
    height: 200px;
    width: 200px;
}

#cat{
    list-style: none;
    margin: 4%;
    margin-left: 8%;
    border-right: solid;
    border-color: #E8E8E8;
    width: 15%;
}

#cat li{
    margin-bottom: 20px;
}

#cat li:hover{
    cursor: pointer;
    color: red;
    transition: 0.75s;
}

#top-container{
    display: flex;

}

#products{
  margin-left: 10%;
  margin-top: 4%;
  display: flex;   
  flex-wrap: wrap;       
  padding: 0;            
}

#desc{
    margin-left: 8%;
    margin-top: 4%;
    display: flex;
}

#cat-rectangle{
    background-color: #DB4444;
    width: 20px;
    height: 40px;
    border-radius: 5px;
}

#cat-desc{
    margin-top: 1%;
    color: #DB4444;
    margin-left: 2%;
    font-weight: bold;
}

.product{
  list-style: none;
  margin: 10px;          
  width: 20%;       
  box-sizing: border-box; 
  border: none; 
  padding: 10px; 
}

.product:hover{
    cursor: pointer;
}

