<app-navbar (messageEvent)="receiveSearch($event)"></app-navbar>
<div id="container">
    <img src={{p?.image}}>
    <div id="container-details">
        <div id="details">
            <p id="title">{{p?.title}}</p>
            <p id="price">${{p?.price}}</p>
            <p id="description">{{p?.description}}</p>
        </div>
        <div id="container-submit">
            <div id="container-qty">
                <div id="mns" (click)="subQty()"><p>-</p></div>
                <div id="qty"><p>{{qty}}</p></div>
                <div id="pls" (click)="addQty()"><p>+</p></div>
            </div>
            @if (!isInCart) {
                <button id="submit" (click)="addToCart(p)">Add to cart</button>
            }
            @else {
                <button id="submit" (click)="removeFromCart(p)">Remove from cart</button>
            }
            
            <svg id="heart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8l0-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5l0 3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20-.1-.1s0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5l0 3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2l0-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"/></svg>
        </div>
        <div id="cont1">
            <svg class = "icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M48 0C21.5 0 0 21.5 0 48L0 368c0 26.5 21.5 48 48 48l16 0c0 53 43 96 96 96s96-43 96-96l128 0c0 53 43 96 96 96s96-43 96-96l32 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l0-64 0-32 0-18.7c0-17-6.7-33.3-18.7-45.3L512 114.7c-12-12-28.3-18.7-45.3-18.7L416 96l0-48c0-26.5-21.5-48-48-48L48 0zM416 160l50.7 0L544 237.3l0 18.7-128 0 0-96zM112 416a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm368-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
            <div>
                <p class="t">Free Delivery</p>
                <p clas="d">Enter your postal code for Delivery Availability</p>
            </div>
        </div>
        <div id="cont2">
            <svg class = "icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M32 96l320 0 0-64c0-12.9 7.8-24.6 19.8-29.6s25.7-2.2 34.9 6.9l96 96c6 6 9.4 14.1 9.4 22.6s-3.4 16.6-9.4 22.6l-96 96c-9.2 9.2-22.9 11.9-34.9 6.9s-19.8-16.6-19.8-29.6l0-64L32 160c-17.7 0-32-14.3-32-32s14.3-32 32-32zM480 352c17.7 0 32 14.3 32 32s-14.3 32-32 32l-320 0 0 64c0 12.9-7.8 24.6-19.8 29.6s-25.7 2.2-34.9-6.9l-96-96c-6-6-9.4-14.1-9.4-22.6s3.4-16.6 9.4-22.6l96-96c9.2-9.2 22.9-11.9 34.9-6.9s19.8 16.6 19.8 29.6l0 64 320 0z"/></svg>
            <div>
                <p class="t">Return Delivery</p>
                <p class="d">Free 30 Days Delivery Returns</p>
            </div>
        </div>
    </div>
</div>
<div id="desc">
    <div id="cat-rectangle"></div>
    <div id="cat-desc">Related Items</div>
</div>

<div id="products">
    @for (product of similarProducts; track $index) {
        <ul class="product">
            <li class="item" (click)="goToProductDetails(product)">
              <img src={{product.image}} class="img" alt={{product.title}}>
              <p>{{product.title}}</p>
              <!-- <p>ID: {{product.id}}</p> -->
              <p style="color: #DB4444;">${{product.price}}</p>
              <!-- <p>Description: {{product.description}}</p> -->
            </li>
          </ul>
    }
</div>