#title{
    font-weight: bold;
    font-size: 24px;
    margin-left: 135px;
    margin-right: 192px;
}

#navbar{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 93px;
    border-bottom:solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(233, 231, 231);
    margin-bottom: 60px;
}

#search{
    margin-left: 149px;
    padding: 10px;
    background-color: #f5f5f5;
    border: none;
    display: flex;
    align-items: center;
}

#search-bar{
    border:none;
    background-color: #f5f5f5;
    font-size: 12px;
}

.icon {
    height: 20px;
    width: 20px;
    margin-left: 20px;
}

.icon:hover{
    cursor: pointer;
}

#navigation{
    display: flex;
}

#navigation p{
    margin-right: 53px;
}

#search-icon{
    height: 20px;
    width: 20px;
    margin-left: 25px;
}

#search-icon:hover{
    cursor: pointer;
}

.nav:hover{
    cursor: pointer;
    color: red;
    transition: 0.75s;
}

#profile{
    margin-left: 4%;
}

#pfp{
    border: solid 1px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: rgb(92, 84, 84);
}

#pfp:hover{
    cursor: pointer;
}