<app-navbar></app-navbar>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<div>
    <table>
        <thead>
        <tr>
            <td>Product</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Subtotal</td>
            <td></td>
        </tr>
        </thead>
        @for (product of cart; track $index) {
        <tr>
            <td>
                <div id="logo">
                    <img src={{product?.product?.image}} class="img" alt={{product?.product?.title}}>
                    <p>{{product?.product?.title}}</p>
                </div>
            </td>
            <td style="color: #DB4444;">${{product?.product?.price}}</td>
            <td>
                <div id="container-qty">
                    <div id="qty"><p>{{product?.qty}}</p></div>
                    <div id="modify">
                        <i id="arrow" class="material-icons" (click)="increaseQty(product)">arrow_drop_up</i>
                        <i id="arrow" class="material-icons" (click)="decreaseQty(product)">arrow_drop_down</i>
                    </div>
                </div>
            </td>
            <td>${{getTotal(product)}}</td>
            <td>
                <i id="del" class="material-icons" (click)="removeFromCart(product?.product)">delete</i>
            </td>
        </tr>
        }
    </table>
    <div id="buttons">
        <button id="subTotalBtn" (click)="getSubTotal()">Update Cart</button>
        <button id="discardBtn" (click)="discardCart()">Discard Cart</button>
    </div>
    <div id="checkout">
        <p>Cart Total</p>
        <div class="pricing">
            <p>Subtotal: </p>
            <p class="value">${{subTotal}}</p>
        </div>
        <div class="pricing">
            <p>Shipping: </p>
            <p class="value">Free</p>
        </div>
        <div class="pricing" style="border: none;">
            <p>Total: </p>
            <p class="value">${{subTotal}}</p>
        </div>
        <button>Proceed to Checkout</button>
    </div>  
</div>
